{% extends "master.html" %}

{% block page_title %}MITCEF 小羊组{% endblock %}

{% block content %}
<form method="POST">
    <!-- This is the 3 buttons at the top of the page. -->
    <div class="row">
    <div id="actions" class="form-group">
        <button class='btn btn-success btn-lg' type="submit" formaction="/add">Add Member</button>
        <button class="btn btn-primary btn-lg" type="submit" formaction="/shuffle">Shuffle</button>
        <button class='btn btn-primary btn-lg' type='submit' formaction="/sync">Sync</button>
    </div>
    </div>

    <!-- This is the "summary statistics" part of the page. -->
    <div class="row">
	<div class="form-group">
        <h3>Group Summary</h3>
        <p>Statistics computed based on the number of active members.</p>
        {% for label, data in summary.items() %}
            <div class="col-md-4 form-group">
            {{ label }}
            {% for key, count in data.items() %}
                <li>
                    {{ key }}: {{ count }}
                </li>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
    </div>

    <!-- Here we display all of the members. -->
    {% for member_type in [active, inactive] %}
        <div class="row">
        <div id="{{ member_type }}-members-list" class="form-group">
        {% if member_type == active %}
            <h3>Active Members</h3>
        {% else %}
            <h3>Inactive Members</h3>
        {% endif %}
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Surname</th>
                    <th>Given Name</th>
                    <th>Gender</th>
                    <th>Faith Status</th>
                    <th>Role</th>
                    <th>Notes</th>
                    <th>Present Today</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for member in member_type %}
                    {% if member['faith_status'] == 'believer' %}
                        <tr class="success">
                    {% elif member['faith_status'] == 'baptized' %}
                        <tr class="info">
                    {% else %}
                        <tr class="warning">
                    {% endif %}
                    <td>{{ member.eid }}</td>
                    <td>{{ member['surname'] }}</td>
                    <td>{{ member['name'] }}</td>
                    <td>{{ member['gender'] }}</td>
                    <td>{{ member['faith_status'] }}</td>
                    <td>{{ member['role'] }}</td>
                    {% if member['notes'] %}
                        <td>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="{{ member['notes'] }}">
                                info
                            </a>
                        </td>

                    {% else %}
                        <td> </td>
                    {% endif %}
                    <td>
                        <input type="checkbox" font-size: 50px name="present.{{ member.eid }}" value="{{ member.eid }}"></input>
                    </td>
                    <td>
                    {% if member['active'] == 'true' %}
                        <button class="btn btn-danger btn-xs" type="submit" formaction="/archive/{{ member.eid }}">Archive</button>
                    {% elif member['active'] == 'false' %}
                        <button class="btn btn-success btn-xs" type="submit" formaction="/activate/{{ member.eid }}">Activate</button>
                    {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" type="submit" formaction="/view_member/{{ member.eid }}">Edit</button>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        </div>
    {% endfor %}
</form>
{% endblock %}
