{% extends "master.html.j2" %}

{% block page_title %}MITCEF 小羊组{% endblock %}

{% block content %}
<form method="POST">
    <!-- This is the 3 buttons at the top of the page. -->
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="form-group">
            <button class="btn btn-success btn-lg" type="submit" formaction="/shuffle">
                <i class="fa fa-random" aria-hidden="true"></i>分组
            </button>
            <!-- <button class='btn btn-primary btn-lg' type="submit" formaction="/upload">
                <i class="fa fa-refresh" aria-hidden="true"></i>同步
            </button> -->
            <a href="/upload" class="btn btn-primary btn-lg"><i class="fa fa-refresh" aria-hidden="true"></i>同步</a>
        </div>
    </div>

    <!-- Here we display all of the members. -->
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="text" id="searchNames" onkeyup="search()" placeholder="Search for names..">
            <p></p>
        </div>
    </div>

    {% for member_type in [active, inactive] %}
        <div class="row">
            <div class="col-md-12">
                <div id="{{ member_type }}-members-list" class="form-group">
                {% if member_type == active %}
                    <h3>Active Members</h3>
                    <table id="table-active" class="table table-hover">
                {% else %}
                    <h3>Inactive Members</h3>
                    <table id="table-inactive" class="table table-hover">
                {% endif %}
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>姓</th>
                                <th>名</th>
                                <th>性别</th>
                                <th>信仰状态</th>
                                <th>角色</th>
                                <th>笔记</th>
                                <th>今天在场吗？</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in member_type %}
                                <tr class="table" id="table-member">
                                <td>{{ member.eid }}</td>
                                <td>{{ member['surname'] }}</td>
                                <td>{{ member['name'] }}</td>
                                <td>{{ member['gender'] }}</td>
                                <td>{{ member['faith_status'] }}</td>
                                <td>{{ member['role'] }}</td>
                                {% if member['notes'] %}
                                    <td>
                                        <a href="#" data-toggle="tooltip" data-placement="right" title="{{ member['notes'] }}">
                                            info
                                        </a>
                                    </td>
                                {% else %}
                                    <td> </td>
                                {% endif %}
                                <td>
                                    <input type="checkbox" font-size: 50px name="present.{{ member.eid }}" value="{{ member.eid }}"></input>
                                </td>
                                <td>
                                {% if member['active'] == 'true' %}
                                    <button class="btn btn-outline-danger btn-xs" type="submit" formaction="/archive/{{ member.eid }}">Archive</button>
                                {% elif member['active'] == 'false' %}
                                    <button class="btn btn-outline-success btn-xs" type="submit" formaction="/activate/{{ member.eid }}">Activate</button>
                                {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary btn-xs" type="submit" formaction="/view_member/{{ member.eid }}">Edit</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</form>
{% endblock %}

{% block extrascripts %}
    <script src="static/scripts.js"></script>
{% endblock %}
